.generatedPassword {
  width: 100%;
}

.content {
  width: 100%;
  background-color: var(--gray);
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  gap: 4px;

  .password {
    font-size: 1.5rem;
    font-weight: 600;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .buttonCopy {
    background-color: transparent;
    font-size: 0;
    padding: 5px;
    border: 0;
    border-radius: 6px;
    transition: all .2s;
    border: 1px solid transparent;
    outline: 0;

    &:hover {
      background-color: rgba(20, 20, 20, 0.58);
      transition: all .2s;
    }

    &:focus {
      box-shadow: 0 0 0 3px var(--blueBoxShadow);
    }
  }

  @media screen and (max-width: 425px) {
    .password {
      font-size: 1.2rem;
    }
  }
}